/* colours */
:root {
  --primary: #2e52a3;
  --secondary: #2d82c5;
  --title: #FFFFFF;
}

/* layout styles */
nav {
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}

nav a {
  text-transform: uppercase;
  color: var(--title);
}

nav a span {
  font-weight: bold;
}

nav .sidenav-trigger {
  margin: 0;
}

/* user styles */
.users {
  margin-top: 20px;
}

.card-panel.user {
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90, 90, 90, 0.1);
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
}

.user img {
  grid-area: image;
  max-width: 60px;
}

.user-details {
  grid-area: details;
  margin-top: 6px;
}

.user-delete {
  grid-area: delete;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.user-delete i {
  font-size: 18px;
}

.user-title {
  font-weight: bold;
}

.user-details {
  font-size: 0.8em;
}

.user-details span {
  font-weight: bold;
}

/* form-styles */
.add-btn {
  background: var(--secondary) !important;
}

input {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.side-form button {
  background: var(--secondary);
  box-shadow: 1px 1px 3px rgba(90, 90, 90, 0.2);
}

form .input-field {
  margin-top: 30px;
}

.weather{
  left: 50%;
  position: absolute;
}

